.full_page{
    background-color:#D1C0A7;
    background-position: center;

    
}
.navbar{
    background-color: #D1C0A7;
    color: #351502;
    
    margin: 0 auto; 
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container-fluid{
    margin: 0 auto; 
    

}
.row{
    margin: 0 auto; 
    }
.col{
    
    margin: 0 auto; 
}
img{
    background-image: initial;
}


