extends layout
block content
    .admin-panel.clearfix
      .slidebar
        ul
          li
            a#targeted(href="/ao/aoregister") Add Farmer one
          li
            a(href="/ao/farmerOneList") Manage Farmer One
          li
            a(href="#") Manage Farmers
          li
            a(href="#") Manage Products
          li
            a(href="#") Report
          li
            a(href="#") Logout
      .dash_display
       
               
          

        
