extends layout
block content
    .admin-panel.clearfix
      .slidebar
        ul
                
          li
            a(href="#dashboard")
            | Administrator
          li
            a#targeted(href="/ao") Add Farmer one
          li
            a(href="/fo/farmerList") View Farmers
          li
            a(href="/farmer/pList") View Products
          li
            a(href="/farmer") Approve Products
          li
            a(href="#") Report
          li
            a(href="/logout") Logout
        
      .dash_display
        header.card-header
          h4.card-title Welcome 
        table.table
          if farmers.length
                thead
                    tr
                    th Firstname
                    th Lastname
                    th gender
                    th ward
                    th 
                    th
                tbody
                  each farmer in farmers
                    tr
                        td #{farmer.fname}
                        td=farmer.lname
                        td=farmer.gender
                        td=farmer.ward
                        td  
                            a(href='/fo/Update/'+farmer._id) Update
                        td