extends layout
block content
    .admin-panel.clearfix
      .slidebar
        ul
          li
            a#targeted(href="#dashboard")
            | Administrator
          li
            a(href="/fo/farmerList") Add Farmer
          li
            a(href="#") Inspection
          li
            a(href="#Inspect") Approve Farmers                
          li
            a(href="#Approve") Add Products
          li
            a(href="#Repor") Report
          li
            a(href="#Logout") Logout
        
      .dash_display
        header.card-header
        h4.card-title Welcome
        

        
