extends layout
block content
    .admin-panel.clearfix
      .slidebar
        ul
          li
            a#targeted(href="#dashboard")
            | Administrator
          li
            a(href="#posts") Products
          li
            a(href="#") Add products
          li
            a(href="#Inspect") Manage Orders
          li
            a(href="#Approve") Manage Products
          li
            a(href="#Repor") Report
          li
            a(href="#Logout") Logout
      .dash_display
       
        
