extends layout
block content
    .admin-panel.clearfix
      .slidebar
        ul
          li
            a(href="#dashboard")
            | Administrator
          li
            a#targeted(href="/fo") Add Farmer
          li
            a(href="/fo/farmerList") View Farmers
          li
            a(href="/farmer/pList") View Products
          li
            a(href="/fo/pApprove") Approve Products
          li
            a(href="#") Report
          li
            a(href="/logout") Logout

        
      .dash_display
        header.card-header
        h4.card-title Welcome
        form.form_main(name="regForm" method="post" action="/fo" onsubmit="return regFormValidation()")
                            
                                  .form-row
                                    .col-md-4
                                      label First Name:
                                      input#reg_fname.name(type="text" placeholder="First Name" name="fname")
                                      span#error_reg_fname  
                                    .col-md-4
                                      label Last Name:
                                      input#reg_lname.name(type="text" placeholder="Last Name" name="lname")
                                      span#error_reg_lname
                                    .col-md-4
                                      label username:
                                      input#reg_username.name(type="text" placeholder="Username" name="username")
                                      span#error_reg_username
                                  .form-row
                                    .col
                                      label Date of birth:
                                      input#reg_dob.name(type="date" placeholder="" name="reg_dob")
                                      span#error_reg_dob
                                    .col
                                      label Phone Number:
                                      input#reg_phone.name(type="tel" placeholder="Phone Number" name="reg_phone")
                                      span#error_reg_phone
                                    .col
                                      label ID Number:
                                      input#reg_id.name(type="text" placeholder="ID Number" name="reg_id") 
                                      span#error_reg_id            
                                  .form-row
                                    .col
                                      label Date of Registration:
                                      input#reg_date.name(type="date" placeholder="Date of Registration" name="reg_date")
                                      span#error_reg_date
                                    .col
                                      h4 Gender:
                                      .custom-control.custom-radio.custom-control-inline
                                        input#customRadioInline1.custom-control-input(type="radio" name="gender" value="female")
                                        label.custom-control-label(for="customRadioInline1") Female
                                      .custom-control.custom-radio.custom-control-inline
                                          input#customRadioInline2.custom-control-input(type="radio" name="gender" value="male")
                                          label.custom-control-label(for="customRadioInline2") Male  
                                    .col
                                      label Farmer Ward
                                      select#ward.name(name="ward")
                                        option(value="masaja") masaja
                                        option(value="makindye") makindye
                                        option(value="busabala") busabala
                                        option(value="bunamwaya") bunamwaya
                                  .form-row
                                    .col
                                      h4 Products:
                                      label Horticulture&nbsp 
                                      input(value= "Horticulture" type="checkbox"  name="product")
                                      label &nbspPoultry&nbsp
                                      input(value= "Poultry" type="checkbox"  name="product")
                                      label &nbspDairy&nbsp
                                      input(value= "Dairy" type="checkbox"  name="product")
                                      label &nbspOthers&nbsp
                                      input(value= "Others" type="checkbox"  name="product")
                                      span#error_reg_product
                                  .form-row
                                    .col
                                      label(for="address") Address:
                                      input#address.name(type="text" name="address")
                                      span#error_address
                                    .col
                                      label Resident type:
                                      select#no_of_year.name(name="residence")
                                        option(value="New") New Resident
                                        option(value="Temporary") Temporary Resident
                                        option(value="Permanent") Permanent Resident 
                                      
                                    .col
                                      label Role:
                                      select#disabledSelect.form-control.name(name="role")                                       
                                        option(value="ufarmer") Farmer      
                                  .form-row
                                    .col.form-group
                                      label(for="reg_password") Create password
                                      input#reg_password.name(type="password" placeholder="Password" name="password")
                                      span#error_reg_password
                                  .form-row
                                    .col.form-group
                                      input#foRegButton.button(type="submit" value="Register")
    
        

        
