extends layout
block content
    .admin-panel.clearfix
      .slidebar
        ul
          li
            a#targeted(href="#dashboard")
            | Administrator
          li
            a(href="/farmer/pAdd") Add Products
          li
            a(href="/farmer/pList") View Products
          li
            a(href="/farmer/Order") Orders                 
          li
            a(href="#Report") Report
          li
            a(href="#Logout") Logout
        
      .dash_display
        header.card-header
        h4.card-title Welcome