extends layout
block content
    .admin-panel.clearfix
      .slidebar
         ul
          li
            a#targeted(href="/ao") Add Farmer one    
          li
            a(href="/ao/foList") Manage Farmer One
          li
            a(href="/fo/farmerList") Manage Farmers
          li
            a(href="/farmer/pList") Manage Products
          li

            a(href="#") Report
           
          li
            a(href="/logout") Logout
        
      .dash_display
        header.card-header
            h4.card-title Welcome 
            form(method="post" action='/ao/foupdate')
                table.table
                .form-row
                  .col
                    thead.thead
                    .form-row
                      .col-md-4.mb-3 
                        tr
                            th Firstname
                            td 
                                input.form-control(type="text" value = fo.fname name ="fName")
                      .col-md-4.mb-3 
                        tr
                            th Lastname
                            td 
                                input.form-control(value = fo.lname name ="lName")
                    
                      .col-md-4.mb-3 
                        tr
                            th Username
                            td 
                                input.form-control(value = fo.username name ="username")
                    .form-row            
                      .col-md-4.mb-3 
                        tr
                            th Date of birth
                            td
                              input.form-control(type="date" value = fo.reg_dob name ="reg_dob")
                    
                      .col-md-4.mb-3           
                        tr
                            th Phone Number
                            td
                              input.form-control(value = fo.reg_phone name ="reg_phone")
                      .col-md-4.mb-3        
                        tr
                            th NIN
                            td
                              input.form-control(value = fo.reg_id name ="reg_id")
                    .form-row          
                      .col-md-4.mb-3 
                        tr
                            th Date of registration
                            td
                              input.form-control(value = fo.reg_date name ="reg_date")
                      .col-md-4.mb-3 
                        tr
                            th Gender
                            td 
                                label Male&nbsp
                                input(value= "male" type="radio" checked = fo.gender==="male" name="gender") 
                                label &nbspFemale&nbsp
                                input(value= "female" type="radio" checked = fo.gender==="female" name="gender")
                              
                      .col-md-4.mb-3         
                        tr
                            th Farmer Ward
                            td 
                                select.form-control(name="ward")  
                                    option(value="masaja" selected = fo.ward === "masaja") Masaja
                                    option(value="makindye" selected = fo.ward === "makindye") Masaka
                                    option(value="busabala" selected = fo.ward === "busabala") Busabala
                                    option(value="bunamwaya" selected = fo.ward === "bunamwaya") Bunamwaya
                    .form-row                  
                      .col-md-4 
                        tr
                            th Prouct Type
                            td 
                                label Horticulture&nbsp 
                                input(value= "Horticulture" type="checkbox" checked =fo.product.includes('Horticulture') name="product")
                                label &nbspPoultry&nbsp
                                input(value= "Poultry" type="checkbox" checked =fo.product.includes('Poultry') name="product")
                                label &nbspDairy&nbsp
                                input(value= "Dairy" type="checkbox" checked =fo.product.includes('Dairy') name="product")
                                label &nbspOthers&nbsp
                                input(value= "Others" type="checkbox" checked =fo.product.includes('Others') name="product")
                      .col.md-8  
                        .form-row     
                            .col-md-6.mb-3 
                              tr
                                  th Address
                                  td 
                                      input.form-control(value = fo.address name ="address")
                            .col-md-6.mb-3 
                                  label Resident type:
                                  select#no_of_year.form-control(name="residence")
                                    option(value="New") New Resident
                                    option(value="Temporary") Temporary Resident
                                    option(value="Permanent") Permanent Resident 
                                  span#error_reg_residence
                        .form-row
                          .col-md-6.mb-3 
                            label Role:
                            select#role.role(name="role")
                              option(value="admin") Admin
                              option(value="aOfficer") Agric Officer
                              option(value="fo") Farmer One
                              option(value="farmer") Farmer
                            span#error_reg_role        
                    .form-row             
                      .col   
                        tr
                            td(colspan=2)
                                input(type="hidden", placeholder="", name="_id", value=fo._id)
                                button.btn.btn-dark.btn-block(type="submit") Update