extends layout
block content
  .btn-head
          p For all your farming needs
          h1
            | UFARM 
            span IS HERE FOR YOU
          .bcom
            a(href="customer/product")
                p View Products Here
            p Dont have an account 
                a(href="/contact") login Here
  

  
