extends layout
block content
    .btn-head
          p For all your farming needs
          h1
            | UFARM 
            span IS HERE FOR YOU
          .bcom
            a(href="/login")
                p Login Here
            p Dont have an account 
                a(href="/c_signup") Sign Up
    section
      main
        | Massajja farmers beyayala ku UFARM


  
