doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Ufarm
    link(type="text/css" rel="stylesheet" href="/css/style.css")
    link(type="text/css" rel="stylesheet" href="/css/navbar.css")
    link(type="text/css" rel="stylesheet" href="/css/css_bootsrap/bootstrap.min.css")
    script(src="/js/script.js")
	  
  body
      nav.navbar.navbar-expand-lg.navbar-light.bg-success
        ul.nav.justify-content-end
                .logo
                    img.logo_img(src="/images/cow_logo.png" alt="logo")
                    span UFARM       
                li.nav-item
                  a.nav-link.active(href="#") Products
                li.nav-item
                  a.nav-link(href="#") About
                li.nav-item
                  a.nav-link(href="#") Farmers
                li.nav-item
                  a.nav-link(href="#") Contact us
      .container
      block content