extends layout
block content
    .row#login_form
      
      .main
        form(name="login" action="/login" method="POST" onsubmit="")
          h2 Ufarm Login here.
          input#user_name.box(type="text" name="username" placeholder="Username")
          span#error_user
          label 
            select#role.role(name="role")
                option(value="admin") Admin
                option(value="aOfficer") Agric Officer
                option(value="fo") Farmer One
                option(value="ufarmer") Farmer

          
          input#password.box(type="password" name="password" placeholder="Password ")
          span#error_password
          
          input#submitDetails(type="submit" name="submitDetails" value="Submit")
         
          | Don't have an account 
          a(href="/signup") Contact Admin
      
