extends layout
block content
    main
        | Massajja farmers beyayala ku UFARM

        ul.list-unstyled
        if products.length
        each product in products
            li.media
              
                img(src='/uploads/'+product.prodImage height='200px' width='200px')
                .media-body
                  h5.mt-0.mb-1 #{product.pName}
                  |        Donec lacinia congue felis in faucibus.
          
            .card.mb-3(style="max-width: 540px;")
              .row.no-gutters
                .col-md-4
                  img.card-img(src="..." alt="...")
                .col-md-8
                  .card-body
                    h5.card-title Card title
                    p.card-text
                      | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    p.card-text
                      small.text-muted Last updated 3 mins ago