extends layout
block content
  .row
          .col-2
          .col-8
            h2
            form.form_main(method="post" action="/register")
                  h4 Create account
                  
                  .form-row
                    .col-md-4
                      label First Name:
                      input#reg_fname.name(type="text" placeholder="First Name" name="fname")
                    .col-md-4
                      label Last Name:
                      input#reg_lname.name(type="text" placeholder="Last Name" name="lname")
                    .col-md-4
                      label username:
                      input#username.name(type="text" placeholder="Username" name="username")                    
                  .form-row
                    .col
                      label Date of birth:
                      input#reg_dob.name(type="date" placeholder="" name="reg_dob")
                    .col
                      label Phone Number:
                      input#reg_phone.name(type="tel" placeholder="P" name="reg_phone")
                    .col
                      label ID Number:
                      input#reg_id.name(type="text" placeholder="ID Number" name="reg_id")             
                  .form-row
                    .col
                      label Date of Registration:
                      input#reg_date.name(type="date" placeholder="Date of Registration" name="reg_date")
                    .col
                      h4 Gender:
                      label.form-check.form-check-inline
                      input.form-check-input(type="radio" id="female" name="gender" value="female")
                      span.form-check-label(for="female") Female 
                      label.form-check.form-check-inline
                      input.form-check-input(type="radio" id="male" name="gender" value="male")
                      span.form-check-label(for="male") Male                  
                    .col
                      label Farmer Ward
                      select#ward.name(name="ward")
                        option(value="masaja") masaja
                        option(value="makindye") makindye
                        option(value="busabala") busabala
                        option(value="bunamwaya") bunamwaya
                  .form-row
                    .col
                  
                      h4 Products:
                      .form-check.form-check-inline
                        input#inlineCheckbox1.form-check-input(type="checkbox" name="product" value="Horticulture" )
                        label(for="inlineCheckbox1") Horticulture
                      .form-check.form-check-inline
                        input#inlineCheckbox2.form-check-input(type="checkbox" name="product" value="poultry" )
                        label#form-check-label(for="poultry") Poultry
                      .form-check.form-check-inline
                        input#inlineCheckbox3.form-check-input(type="checkbox" name="product" value="Dairy" )
                        label#form-check-label(for="inlineCheckbox3") Dairy
                        .form-check.form-check-inline
                        input#inlineCheckbox4.form-check-input(type="checkbox" name="product" value="Others" )
                        label#form-check-label(for="inlineCheckbox4") Others
                  .form-row
                    .col
                      label(for="address") Address:
                      input#address.name(type="text" name="address")
                    .col
                      label Resident type:
                      select#no_of_year.no_of_yr(name="no_of_year")
                        option(value="New") New Resident
                        option(value="Temporary") Temporary Resident
                        option(value="Permanent") Permanent Resident 
                       
                    .col
                      label Role:
                      select#role.role(name="role")
                        option(value="A Officer") Agric Officer
                        option(value="fo") Farmer One
                        option(value="farmer") Farmer
                  .form-row
                    .col.form-group
                      label(for="reg_password") Create password
                      input#reg_password.name(type="password" placeholder="Password" name="password") 
                  .form-row
                    .col.form-group
                      input.button(type="submit" value="Register")