extends layout
block content
  .row
          .col-2
          .col-8
            h2
            form.form_main(method="post" action="/fo")
                  h4 Create account
                  
                  .form-row
                    .col-m
                      label First Name:
                      input#reg_fname.name(type="text" placeholder="First Name" name="reg_fname")
                    .col
                      label Last Name:
                      input#reg_lname.name(type="text" placeholder="Last Name" name="reg_lname")
                    .col
                      label username:
                      input#username.name(type="text" placeholder="Username" name="username")                    
                  .form-row
                    .col
                      label Date of birth:
                      input#reg_dob.name(type="date" placeholder="" name="reg_dob")
                    .col
                      label Phone Number:
                      input#reg_phone(type="tel" placeholder="Phone Number" name="reg_phone")
                    .col
                      label ID Number:
                      input#reg_id(type="text" placeholder="ID Number" name="reg_id")             
                  .form-row
                    .col
                      label Date of Registration:
                      input.reg_date(type="date" placeholder="Date of Registration" name="reg_date")
                    .col.form-group
                      | Gender:
                      input#gender1(type="radio" name="gender" value="male"  )&nbsp
                      label.gender(for="gender1") &nbsp Male &nbsp
                      input#gender2(type="radio" name="gender" value="female") &nbsp
                      label.gender(for="gender2") &nbsp Female
                    .col.form-group
                      label Farmer Ward
                      select.ward(name="ward")
                        option(value="masaja") masaja
                        option(value="makindye") makindye
                        option(value="busabala") busabala
                        option(value="bunamwaya") bunamwaya
                  .form-row
                    .col
                      h4 Products:
                      input(type="checkbox" name="product" id="horticulture" value="Horticulture" )
                      label(for="horticulture") Horticulture
                      input(type="checkbox" name="product" id="poultry" value="poultry" )
                      label(for="poultry") Poultry
                      input(type="checkbox" name="product" id="dairy" value="Dairy" )
                      label(for="dairy") Dairy
                      input(type="checkbox" name="product" id="other" value="Others" )
                      label(for="other") Others
                  .form-row
                    .col
                      label(for="address") Address:
                      input#address.address(type="text" name="address")
                    .col
                      label Resident type:
                      select#no_of_year.no_of_yr(name="no_of_year")
                        option(value="New") New Resident
                        option(value="Temporary") Temporary Resident
                        option(value="Permanent") Permanent Resident 
                       
                    .col
                      label Role:
                      select#role.role(name="role")
                        option(value="Admin") Admin
                        option(value="Agric Officer") Agric Officer
                        option(value="Farmer One") Farmer One
                        option(value="Farmer") Farmer
                  .form-row
                    .col.form-group
                      label(for="reg_password") Create password
                      input#reg_password.name(type="password" placeholder="Password" name="password") 
                  .form-row
                    .col.form-group
                      input.button(type="submit" value="Register")