extends layout
block content
    .row
      .col-md-4
      .col-md-4.main
        form(name="signUpForm" action="/admin" method="POST" onsubmit=" return signUpValidation()" autocomplete="off")
          h2  Signup form
          label First Name: 
          input#fname.name(type="text" name="fname" placeholder="")
          span#signFname_err
          br
          label Last Name:
          input#lname.name(type="text" name="lname" placeholder="" )
          span#signLname_err
          br
          label Username:
          input#username.name(type="username" name="username" placeholder="")
          span#signup_username_err
          br
          label Phone:
          input#phone.name(type="text" name="reg_phone" placeholder=" ")
          span#signup_phone_err
          br
          label Role:
          select#signup_role.form-control.name(name="role")                                       
            option(value="aOfficer") Agric Officer 
            option(value="fo") Farmer One
            option(value="ufarmer") Urban Farmer
                            
          label Password: 
          input#password.name(type="password" name="password" placeholder="Password ")
          span#signup_password_err
          
          input#submitDetails.name(type="submit" name="submitDetails" value="Submit" )
          br
          | Already done
          a(href="") Go back to dashboard
      .col-md-4