extends layout
block content
    .btn-head
          p For all your farming needs
          h1
            | UFARM 
            span IS HERE FOR YOU
          .bcom
            a(href="/C_login")
                p Login Here
