/* Styling for body */
/* *{
    margin: auto 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} */
/* Styling for nav bar */
.logo_img {
    height: 80px;
    margin-left: auto;
}
body {
    width: 100%;
    height: 80vh;
    background-image: url('../images/flower.jpg');
    background-size: cover;
      color: #612903f1;
    font-family: sans-serif;
    
      
}
 .container{
    margin:auto;
    padding:auto;
    color: #612903f1;
    background-repeat: no-repeat;
    background-size: auto;
    margin: auto;
} 

section #carousel,#farmer,#contact{
    color: #f8f7f0;
    background-color:   #612903d2;
    margin: auto 0;
}
 .carousel-item img{

    height: 400px;
}
.logo img{
    
    
    color: #612903f1;
    font-weight: bolder;
    font-family: 'Helvetica', serif;
    
}
 
nav ul .logo span{
    color: #612903f1;
    font-size: 300%;
}


nav{
    width: 100%;
    margin-top: auto;
    position: relative;
    z-index: 1;
}
nav ul{
    text-align: right;
    margin-top: auto;
}
nav ul li{
    display: flex;
    margin-left:auto;
    
}
nav ul li a,span{
    text-decoration: none;
    padding: auto;
    font-size: 150%;
    font-family: 'Helvetica', serif;
    font-weight: bold;
    color: #612903f1;
    margin: auto;
    text-decoration: none;
} 
nav ul li a:hover{
    color:  #08192c;  
}

.sin{
    background-color: #612903f1;
    padding: 10px ;
    border-radius: 30px;
    color:  #f8f7f0;
}
.sin:hover{
    
    background-color: #08192c;
    border: 1px solid #04244983;
}


/* This is styling for the landing page  */
.bttm{
    width: 80%;
    margin: 0 auto;
}
.btn-head{
    width: 100%;
    height: 70vh;
    margin-top: 100px;
    align-items: center;
}
.btn-head h1{
    text-align: center;
    color: #f8f7f0;
    font-size: 40px;
    margin-top: 50px;

}
.btn-head h1 span{
    color: #fafafa;
    font-size: 100%;
}
.btn-head p{
    text-align: center;
    font-size: 100%;
    
    letter-spacing: 0.5%;
    color: #f8f7f0;
    font-weight: bold;
    margin-top: 8%;
}
.bcom{
    width: 40%;
    height: 8%;
    background-color: #612903f1;
    margin: 0 auto;   
    margin-top: auto;
    border-radius: 10%;
    color:#f8f7f0;
    cursor: pointer;
}
.bcom a p{
    color:#f8f7f0 ;

}
.bcom:hover{
    background-color: #28a745;
    color: #ff2855;
}
.bcom p{
    font-size: 16px;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}


/* This is styling for body of farmers side bar */

.sidebar {
    position: fixed;
    width: 15%;
    height: 100vh;
    background: #f8f7f0;
  }
  
  .nav_side {
    position: relative;
    margin: 0 ;
    text-align: right;
    top: 30%;
    
    font-weight: bold;
    color: #612903f1;
  }
  .nav_side ul li a{
    color: #612903f1;
    margin-top: 50px;
  }
  .nav_side ul li a:hover{
    color:  #28a745;
    
}
  
  .nav_side ul {
    list-style: none;
  }
  
.products_body {
  
    margin: 30px;
    padding: 5px;
}
    
    
    p {
      text-transform: uppercase;
      font-size: 1em;
      letter-spacing: 0.1em;
      color: #f8f7f0;
      font-weight: bold;
      margin-top: 20px;
    }


   /* Styles for dashboard */
  
    .admin-panel {
        width: 100%;
        height: 100vh;
        margin: auto;
        padding: auto;
    }
    /*slidebar*/
    .slidebar {
        width: 20%;
        min-height: 100vh;
        float: left;
        border-right: 1px solid rgb(235,235,235);
        background-color: #f8f7f0;
        color: #612903f1;
        margin: auto;
        position: relative;
    }
   
    .slidebar ul {
        padding: auto;
        margin:auto;
    }
    .slidebar li {
        list-style-type: none;
        margin: auto;
        position: relative;
    }
    .slidebar li:before {
        
        font-family: 'icomoon';
        
        font-weight: bold;
        font-variant: normal;
        text-transform: none;
        position: absolute;
        display: block;
        line-height: 100%;
        color: #612903f1;
        -webkit-font-smoothing: antialiased;
    }
 
    
    .slidebar ul a {
        color: #612903f1;
        text-decoration: none;
        font: helvetica,verdana,sans-serif;
        box-sizing:border-box;
        border-bottom: 1px solid rgb(235,235,235);
        display: block;
        box-shadow:inset 0 1px 0 rgb(255,255,255);
        
    }
    .slidebar li:hover a {
        background-color: rgb(255,255,255);
        box-shadow: 1px 0 0 rgb(255,255,255),inset 5px 0 0 -1px #612903f1;
    }
    /*main*/
    .dash_display {
        float: left;
        width: 80%;
        height: 100vh;
        background-color: rgb(255,255,255);
        position: inherit;
        font-family: helvetica,verdana,sans-serif;
        color: #612903f1;
    }
    .dash_display th,td{
        color: #612903f1;
    }
 
    /*mainContent*/
    .mainContent h4 {
        line-height: 1;
        font-size: 80%;
        color: #612903f1;
        
    }
     
    .mainContent>div {
        position: inherit;
        opacity: 0;
      color:#612903f1;
    }
    /* Showing content on the dashboard */
    .mainContent>div:target {
        opacity: 1;
    }
    .mainContent h2 {
        margin:1em 30px;
        color: #612903f1;
        font-weight: bold;
        font-size: 71%;
    }
    .mainContent h2:before {
        font-family: 'icomoon';
        content: attr(data-icon);
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        color: #612903f1;
        margin-right: auto;
        -webkit-font-smoothing: antialiased;
    }
  
     
    div #dashboard {
        border: 1px solid rgb(235,235,235);
        margin-left: auto;
        display: inline-block;
    }
   
   
    