/* Styling for the landing page Signup and login forms*/
button{
    font-weight: bold;
    font-family: 'Helvetica', serif;
    margin: 4px;
    float: right;
    border: none;
    color: #5f381ff1; 
    
}
div .col{
    margin: 0%;
    padding: 0%;

}

.main{ 
    padding:0px; 
    margin-top: 0%;
    font-family: 'Helvetica', serif; 
    font-size: 15px;
    background-color: #fafafa;
    color: #5f381ff1;
    box-shadow: 5px 5px 7px 5px  #3d3834f1; 
      
} 

.main h1,h2,p{ 
    color: #5f381ff1;
    text-align:center; 
    font-family: 'Helvetica', serif; 
    padding: 2px;  
} 
label{
    font-family: 'Helvetica', serif;
    font-size: 15px;
    font-weight: bold;
    color:#5f381ff1;
}
input,select{ 
    font-family: 'Helvetica', serif; 
    width: 100%; 
    font-size: 15px; 
    padding: 2px; 
    margin: 2px; 
    border: none; 
    border-bottom: 2px solid #5f381ff1; 
} 
input[type=submit] { 
    font-family: 'Helvetica', serif; 
    width: 100%; 
    background-color: #5f381ff1; 
    border: none; 
    color: white; 
    padding: 0px; 
    margin: 1px 1px; 
    border-radius: 2%; 
} 

#story_div{
    background-color: rgba(131, 93, 86, 0.87);
    padding: 0%;
    margin: 0 auto ;
}

/* Styling for farmers registration form */
.form_main{
    padding:0px; 
    margin-top: 0%;
    font-family: 'Helvetica', serif; 
    box-shadow: 5px 5px 7px 5px  #5f381ff1; 
}
.form_main input{ 
    font-family: 'Helvetica', serif; 
    width: 100%; 
    font-size: 15px; 
    border: none; 
    border-bottom: 2px solid #5f381ff1; 
}


/* Styling for customers registration form */


.text-name{
    width: 100%;
    padding:8px 0 8px 40px;
}

.username{
    padding: 8px;
}
.text-name, .name{
    border: 1px solid #cccccc;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
      -moz-transition: all 0.30s ease-in-out;
      -ms-transition: all 0.30s ease-in-out;
      transition: all 0.30s ease-in-out;
}


.radio-button{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
 .gender {
    margin-right: 1em;
}


  

  .ward{
    display: inline-block;
    width: 50%;
    height: 35px;
    padding: 0px 15px;
    cursor: pointer;
    color: #7b7b7b;
    border: 1px solid #cccccc;
    border-radius: 0;
    background: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    transition: all 0.2s ease;
}



  .button{
    background:#f5ba1a;
    height: 35px;
    line-height: 35px;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
    
  }
  .button:hover{
      background-color: #f8c22e;
  }
  .button:hover{
      background-color: #f8c22e;
  }


      .input-name{
          margin-bottom: -10px;
      }
      .name{
          width: 100%;
          padding:8px 0 8px 40px;
          margin-bottom: 10px;
      }
      .input-name span{
          padding: 0;
          margin:0;
      }
  
/* Styling for products category */

